build/
*.xcodeproj
.DS_Store
xcuserdata/
DerivedData/
.gstack/

# Fastlane
build-fastlane/
build-archive/
fastlane/.env
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/
*.p8
*.ipa
*.dSYM.zip
